<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Integrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline" routerLink="/categorias/listar">
          <div>
            <img src = "http://www.flaticon.com/svg/static/icons/svg/1524/1524539.svg">
            <p>Categorias</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline">
          <div>
            <img src = "http://www.flaticon.com/svg/static/icons/svg/3732/3732110.svg">
            <p>Produtos</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline">
          <div>
            <img src = "http://www.flaticon.com/svg/static/icons/svg/2803/2803054.svg">
            <p>Cidades</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline">
          <div>
            <img src = "http://www.flaticon.com/svg/static/icons/svg/1924/1924414.svg">
            <p>Clientes</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline">
          <div>
            <img src = "http://www.flaticon.com/svg/static/icons/svg/2649/2649390.svg">
            <p>Pedidos</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>